@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Design System Variables */
  --section-max-width: 9999px;
  --spx-stopper-max: 9999px;
  --spx-stopper-min: 0px;
  --browser-zoom: 1;
  --one-unit: 1cqw;
  
  /* Color Variables */
  --color_0: 255,255,255;
  --color_1: 255,255,255;
  --color_2: 0,0,0;
  --color_3: 237,28,36;
  --color_4: 0,136,203;
  --color_5: 255,203,5;
  --color_6: 114,114,114;
  --color_7: 176,176,176;
  --color_8: 255,255,255;
  --color_9: 114,114,114;
  --color_10: 176,176,176;
  --color_11: 255,255,255;
  --color_12: 91,42,85;
  --color_13: 217,217,217;
  --color_14: 0,0,0;
  --color_15: 0,0,0;
  --color_16: 229,240,254;
  --color_17: 91,42,85;
  --color_18: 64,64,64;
  --color_19: 0,58,150;
  --color_20: 0,29,75;
  --color_21: 249,197,180;
  --color_22: 243,167,143;
  --color_23: 91,42,85;
  --color_24: 158,59,27;
  --color_25: 79,29,14;
  --color_26: 210,172,247;
  --color_27: 186,131,240;
  --color_28: 128,21,232;
  --color_29: 85,14,155;
  --color_30: 43,7,77;
  --color_31: 177,211,187;
  --color_32: 127,168,139;
  --color_33: 64,124,81;
  --color_34: 43,83,54;
  --color_35: 21,41,27;
  --color_36: 255,255,255;
  --color_37: 0,0,0;
  --color_38: 191,191,191;
  --color_39: 128,128,128;
  --color_40: 64,64,64;
  --color_41: 91,42,85;
  --color_42: 63,130,119;
  --color_43: 240,167,65;
  --color_44: 10,16,57;
  --color_45: 0,0,0;
  --color_46: 0,0,0;
  --color_47: 0,0,0;
  --color_48: 0,0,0;
  --color_49: 0,0,0;
  --color_50: 91,42,85;
  --color_51: 255,255,255;
  --color_52: 0,0,0;
  --color_53: 0,0,0;
  --color_54: 64,64,64;
  --color_55: 64,64,64;
  --color_56: 191,191,191;
  --color_57: 255,255,255;
  --color_58: 0,0,0;
  --color_59: 0,0,0;
  --color_60: 0,0,0;
  --color_61: 255,255,255;
  --color_62: 255,255,255;
  --color_63: 64,64,64;
  --color_64: 64,64,64;
  --color_65: 191,191,191;

  /* Font Variables */
  --font_0: normal normal bold 80px/1em 'Exo 2', sans-serif;
  --font_1: normal normal normal 16px/1.4em 'DIN Next', sans-serif;
  --font_2: normal normal bold 64px/1em 'Exo 2', sans-serif;
  --font_3: normal normal bold 56px/1em 'Exo 2', sans-serif;
  --font_4: normal normal bold 48px/1em 'Exo 2', sans-serif;
  --font_5: normal normal bold 36px/1.2em 'Exo 2', sans-serif;
  --font_6: normal normal bold 24px/1.2em 'Exo 2', sans-serif;
  --font_7: normal normal normal 20px/1.6em 'Exo 2', sans-serif;
  --font_8: normal normal normal 16px/1.5em 'Exo 2', sans-serif;
  --font_9: normal normal normal 14px/1.7em 'Exo 2', sans-serif;
  --font_10: normal normal normal 12px/1.4em 'DIN Next', sans-serif;

  /* Button Colors */
  --wst-button-color-fill-primary: rgb(var(--color_48));
  --wst-button-color-border-primary: rgb(var(--color_49));
  --wst-button-color-text-primary: rgb(var(--color_50));
  --wst-button-color-fill-primary-hover: rgb(var(--color_51));
  --wst-button-color-border-primary-hover: rgb(var(--color_52));
  --wst-button-color-text-primary-hover: rgb(var(--color_53));
  --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
  --wst-button-color-border-primary-disabled: rgb(var(--color_55));
  --wst-button-color-text-primary-disabled: rgb(var(--color_56));
  --wst-button-color-fill-secondary: rgb(var(--color_57));
  --wst-button-color-border-secondary: rgb(var(--color_58));
  --wst-button-color-text-secondary: rgb(var(--color_59));
  --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
  --wst-button-color-border-secondary-hover: rgb(var(--color_61));
  --wst-button-color-text-secondary-hover: rgb(var(--color_62));
  --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
  --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
  --wst-button-color-text-secondary-disabled: rgb(var(--color_65));

  /* Fill Colors */
  --wst-color-fill-base-1: rgb(var(--color_36));
  --wst-color-fill-base-2: rgb(var(--color_37));
  --wst-color-fill-base-shade-1: rgb(var(--color_38));
  --wst-color-fill-base-shade-2: rgb(var(--color_39));
  --wst-color-fill-base-shade-3: rgb(var(--color_40));
  --wst-color-fill-accent-1: rgb(var(--color_41));
  --wst-color-fill-accent-2: rgb(var(--color_42));
  --wst-color-fill-accent-3: rgb(var(--color_43));
  --wst-color-fill-accent-4: rgb(var(--color_44));
  --wst-color-fill-background-primary: rgb(var(--color_11));
  --wst-color-fill-background-secondary: rgb(var(--color_12));

  /* Text Colors */
  --wst-color-text-primary: rgb(var(--color_15));
  --wst-color-text-secondary: rgb(var(--color_14));
  --wst-color-action: rgb(var(--color_18));
  --wst-color-disabled: rgb(var(--color_39));
  --wst-color-title: rgb(var(--color_45));
  --wst-color-subtitle: rgb(var(--color_46));
  --wst-color-line: rgb(var(--color_47));

  /* Font Styles */
  --wst-font-style-h2: var(--font_2);
  --wst-font-style-h3: var(--font_3);
  --wst-font-style-h4: var(--font_4);
  --wst-font-style-h5: var(--font_5);
  --wst-font-style-h6: var(--font_6);
  --wst-font-style-body-large: var(--font_7);
  --wst-font-style-body-medium: var(--font_8);
  --wst-font-style-body-small: var(--font_9);
  --wst-font-style-body-x-small: var(--font_10);

  /* Custom Colors */
  --wst-color-custom-1: rgb(var(--color_13));
  --wst-color-custom-2: rgb(var(--color_16));
  --wst-color-custom-3: rgb(var(--color_17));
  --wst-color-custom-4: rgb(var(--color_19));
  --wst-color-custom-5: rgb(var(--color_20));
  --wst-color-custom-6: rgb(var(--color_21));
  --wst-color-custom-7: rgb(var(--color_22));
  --wst-color-custom-8: rgb(var(--color_23));
  --wst-color-custom-9: rgb(var(--color_24));
  --wst-color-custom-10: rgb(var(--color_25));
  --wst-color-custom-11: rgb(var(--color_26));
  --wst-color-custom-12: rgb(var(--color_27));
  --wst-color-custom-13: rgb(var(--color_28));
  --wst-color-custom-14: rgb(var(--color_29));
  --wst-color-custom-15: rgb(var(--color_30));
  --wst-color-custom-16: rgb(var(--color_31));
  --wst-color-custom-17: rgb(var(--color_32));
  --wst-color-custom-18: rgb(var(--color_33));
  --wst-color-custom-19: rgb(var(--color_34));
  --wst-color-custom-20: rgb(var(--color_35));

  /* Layout Variables */
  --site-width: 980px;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
  --full-viewport: 100 * var(--one-unit) * var(--browser-zoom);
  --scaling-factor: clamp(var(--spx-stopper-min), var(--full-viewport), min(var(--spx-stopper-max), var(--section-max-width)));
  --customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, var(--full-viewport), min(var(--section-max-width), var(--maxViewportSize) * 1px));
  --scrollbar-width: 0px;

  /* Legacy variables for compatibility */
  --background: var(--wst-color-fill-background-primary);
  --foreground: var(--wst-color-text-primary);
}

/* Ensure body has proper styling */
html {
  font-size: 16px;
}

/* Add some visual polish */
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.rounded-lg {
  border-radius: 0.5rem;
}

/* Make sure buttons look good */
button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Input styling */
input, select {
  outline: none;
}

input:focus, select:focus {
  outline: 2px solid rgb(var(--color_42));
  outline-offset: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--wst-color-text-primary);
  background: var(--wst-color-fill-background-primary);
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Typography Utilities */
  .font-h2 {
    font: var(--wst-font-style-h2);
  }
  
  .font-h3 {
    font: var(--wst-font-style-h3);
  }
  
  .font-h4 {
    font: var(--wst-font-style-h4);
  }
  
  .font-h5 {
    font: var(--wst-font-style-h5);
  }
  
  .font-h6 {
    font: var(--wst-font-style-h6);
  }
  
  .font-body-large {
    font: var(--wst-font-style-body-large);
  }
  
  .font-body-medium {
    font: var(--wst-font-style-body-medium);
  }
  
  .font-body-small {
    font: var(--wst-font-style-body-small);
  }
  
  .font-body-x-small {
    font: var(--wst-font-style-body-x-small);
  }
}

